.wrapper {
    width: 360px;
    margin: 10% auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 2px gray;
}

p {
    font-size: 1.2rem;
    border-bottom: 1px solid #ccc;
    padding: 8px 20px;
    background-color: #eee;
}

form {
    padding: 0 20px;
    padding-bottom: 10px;
}

form a,
form label {
    font-size: 1rem;
}

.wrapper form button {
    font-size: 1.1rem;
    font-weight: 500;
}

form span {
    color: red;
}

.errorInput {
    border-color: #ff0400;
}

.errorMsg {
    color: red;
}